@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

ul, li, a {
  list-style: none;
  text-decoration: none;
  color: #000;
}

.desktop {
  display: none;
}

.links {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  position: absolute;
  top: -13rem;
  padding: 1rem;
  transition: all ease-in-out 850ms;
  background: #F9F9F9;
}

.links li{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem 0;
}

.links a {
  font-size: 1.25rem;
}

.mobile_header {
  position: fixed;
  z-index: 999;
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 1rem;
	background: #D6000D;
}

button {
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  outline: none;
  border: none;
  background: #D6000D;
  color: #FFFFFF;
  font-weight: bold;
  font-size: 1rem;
}

.toggle {
  cursor: pointer;
}

.toggle span {
	display: block;
	background: #FFFFFF;
	width: 30px;
	height: 5px;
	margin: 3px;
}

.active_menu {
	top: 4.25rem;
}

.logo {
  color: #FFFFFF;
}

@media (min-width: 768px) {
  ul, li, a {
    display: flex;
    align-items: center;
  }

  button {
    padding: 0.5rem 2.25rem;
    margin: 0 0 0 2.5rem;
  }

  .mobile {
    display: none;
  }

  .desktop {
    display: block;
  }

  .desktop_header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 2.5rem;
  }

  .desktop_header li {
    margin: 0 0 0 2.5rem;
  }

  .logo h1 {
    color: #D6000D;
  }
}